body{
    font-family: "Times New Roman", Times, serif;
}
.banner-container{
    background-color: #cfcfcf;
    height: 100vh;
   
}
.banner-column{
    background-color: #625552;
    margin: auto;
    margin-top: 40vh;
}
.navbar{
    top: 0;
    position: sticky;
    font-size: 25px;
    color: #ffffff;
    z-index: 2;
}
.about-container{
    
    color: cornsilk;
    background-color: #959BB4;
}

.about-text h4{
    margin-top: -6px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.about-text p{
    font-size: 22px;
}
.eduaction-container{
    background: cadetblue;
    
   
}
.circle-edu{
    background-color: coral;
    padding: 10px;
    /* font-size: 15px; */
}
.circle-edu p{
    font-size: 25px;
}
.project-conatiner{
    background: #FF7F50;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-conatiner h3{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bolder;
    overflow: auto;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.p-img{
    padding: 5px;
}
.contact-form{
    background-color: rgb(32, 31, 31);
}

.footer-container{
    background: tomato;
}
.circle-footer{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    color: #2bb3dd;
    padding-top: 10px;
}
